/* Arama Kutusu Stili */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: bounceIn 0.8s ease;
}

@keyframes bounceIn {
  0% { transform: scale(0.9); }
  60% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.search-bar input {
  padding: 12px;
  width: 400px;
  border: 2px solid #3498db;
  border-radius: 25px;
  outline: none;
  font-size: 1em;
  color: #2c3e50;
  background-color: #ecf0f1;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar input:focus {
  border-color: #2980b9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
